* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
//----------------Fuentes
@import "./fonts/typo";
//----------------Variables
$casiNegro: #252525;
$marron: #A37657;
$cremita: #FFE7C3;
$verdeOscuro: #6c6b4c;
$doradito: #a3a261;
$gris: #756b6b;
$montserrat: 'Montserrat', sans-serif;
$glassure: "glassure";
//----------------Components
@import "./components/card";
@import "./components/cartItem";
@import "./components/button";
//----------------Layout
@import "./layout/header";
@import "./layout/sideBar";
@import "./layout/modalFinalizarCompra";
@import "./layout/footer";
//----------------Views
@import "./Views/index";
