@font-face {
  font-family: DolceVita;
  src: url(../font/DolceVita.ttf);
}
@font-face {
  font-family: Glassure;
  src: url(../font/Glassure);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
