#modalFinalizarCompra{
    position: absolute;
    z-index: 2;
    top: 13vh;
    background-color: $cremita;
    height:60vh;
    width: 27vw;
    border-radius: 15px;
    box-shadow: 2px, 2px,  #111111;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}