.mainTienda{
    display: flex;
    .tienda {
        padding: 12vh 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: flex-start;
        width: 100vw;
    }
    #carrito.carrito{
        top:12vh;
        -webkit-box-shadow: -14px 0px 29px -12px rgba(158,158,158,0.40);
        -moz-box-shadow: -14px 0px 29px -12px rgba(158,158,158,0.40);
        box-shadow: -14px 0px 29px -12px rgba(158,158,158,0.40);
        display: none;
        padding-top: 12vh;
        width: 40vw;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all .5s;
        #valorTotal{
            text-align: center;
            font-size: 2rem;
            font-family: "Roboto";
        }
        .btn{
            font-size: 1.5rem;
            width: 100%;
            margin: 1rem 0 ;
        }
    }
}

@media (min-width:768px){
    .tienda {
        justify-content: flex-start;
    }
}

@media (min-width:1200px){
    .tienda {
        justify-content: flex-start;
    }
}


